@import '../../styleVariables/variables';

.pagination {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.page-item {
  width:10px;
}
.page-link {
  color: black;
  background: white;
  border: 1px solid black;
  font-size: 14px;
  
  
  &:active {
    color:$selected-color;
  }
  &:hover {
    color:$selected-color;
    border: 2px solid $selected-color;
  }
}