$font-family-roboto: 'Roboto', sans-serif;
$font-family-Poppins: 'Poppins', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$background-color: black !default;
$border-color: #aeaeae !default;
$muted-color: #fff !default;
$selected-color: #EC7044;
$text-color: #ececec !default;
$header-color: #ececec !default;
