@import '../styleVariables/variables.scss';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
#background {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: url('https://wallpapercave.com/wp/wp2461878.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: $responsive) {
    background-size: 500%;
    background-repeat: no-repeat;
    
      }
  @media only screen and (orientation: landscape) and (min-width: $phone) and (max-width: $phoneLandscape) {
    background-size: 200%;
    height: 300px;
    background-repeat: no-repeat;
    
      }
      @media only screen and (min-width: $desktop) {
        background-size: 140%;
        background-repeat: no-repeat;
        
          }
}

      #container {
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (orientation: landscape) and (min-width: $phone) and (max-width: $phoneLandscape) {
          margin-top: 200px;
            }}

