#container {
  display: flex;
  width: 375px;
  height: 375px;
  background-color: whitesmoke;
  flex-wrap: wrap;
}
#pics {
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
}
#pagination {
  
  color: white;
  margin: 30px;
}