@import '../../styleVariables/variables';
#biggerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  display: flex;
  width: 375px;
  height: 375px;
  flex-wrap: wrap;
  border-radius: 10px;
}
#pics {
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  &:hover {opacity: 0.5;
  }
}
#instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: $font-family-Poppins;
  color: $text-color;
  height: 80px;
  padding-top: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}
#noPics {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: $font-family-Poppins;
  color: $text-color;
  height: 80px;
  padding-top: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
 
}
#pagination {
  
  color: white;
  margin: 30px;
}

#resetBtn {
 font-family: $font-family-Poppins;
  font-size: 12px;
  background-color: $text-color;
  color:$background-color;
  border: none;
  border-radius: 0.3rem;
  margin-top: 50px;
  height: 28px;
  width: 150px;
  &:hover {
    background-color: $selected-color;
    color: white;
  }
}
